.order_status_mark {
    float: right;
    height: 0;
    width: 0;
    border-radius: 25px;
}

span.order_status_mark.has_stock {
    border: 9px solid green;
}

span.order_status_mark.out_of_stock {
    border: 9px solid #d80202;
}

span.order_status_mark.product_without_track_in_stock {
    border: 6px solid green;
    height: 7px;
    width: 7px;
 }
span.order_status_mark.product_without_track_out_of_stock {
    border: 6px solid #d80202;
    height: 7px;
    width: 7px;
 }
tr.footer_row td:nth-child(2) {
    font-weight: bold;
    text-align:right;
}

tr.footer_row.footer_row_first td {
    border-top: 1px solid #ccc;
}

tr.footer_row {
    background-color: #fff !important;
}

tr.footer_row td {
    color: #333;
}
